<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="card bg-light mb-3">
        <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
        <div class="card-body">
          <p>Plaza del sol</p>
          <p>75008 Madrid</p>
          <p>España</p>
          <p>Email : Spotify@example.com</p>
          <p>Tel. +34 000 00 00 00</p>

        </div>

      </div>
    </div>


    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <i class="fa fa-envelope"></i> Contact us.
        </div>
        <div class="card-body">
          <form action="mailto:Spotify@example.com" method="get" enctype="text/plain">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="mx-auto">
              <button type="submit" class="btn btn-primary text-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>
